<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Project_Hyb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">kariya@2021</property>
		<property name="hibernate.dialect">MySQL8</property>
		
		<property name="hibernate.hikari.connectionTimeout">10000</property>
		<property name="hibernate.hikari.minimumIdle">20</property>
		<property name="hibernate.hikari.maximumPoolSize">300</property><property name="hibernate.show_sql">true</property>
		<property name="hibernate.hikari.idleTimeout">200000</property>
		
		<property name="hibernate.show_sql">true</property>
		<mapping class="com.xworkz.camera.entity.CameraEntity"/>

		
	</session-factory>
</hibernate-configuration>